@charset "UTF-8";
.prod-new-btn{
	position : relative;
	bottom : -30%;
	left : 12.5%;
	line-height: 40px;
	width: 150px;
	height: 42px;
	border: 1px solid #a384ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #a384ff;
	color: white;
	cursor: pointer;
}
.prod-list-btn{
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #6ec5ff;
	color: white;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
.list-btn:hover{
		background-color: #58A4D7;
}
.modify-btn{
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: #6ec5ff;
	cursor: pointer;
}
.modify-btn:hover{
	color : #58A4D7;
	border: 1px solid #58A4D7;
}
.prod-cart-btn{
	line-height: 40px;
	width: 154.5px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: #6ec5ff;
	cursor: pointer;
}
.prod-cart-btn:hover{
	color : #58A4D7;
	border: 1px solid #58A4D7;
}
.prod-buy-btn{
	line-height: 40px;
	width: 154.5px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #6ec5ff;
	color: white;
	cursor: pointer;
}
.prod-buy-btn:hover{
	background-color: #58A4D7;
}
.new_dag{
	margin : -5px 10px 0px 0px;
	border-radius : 5px; 
	float : right;
	line-height: 40px;
	width: 150px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #6ec5ff;
	color: white;
	cursor: pointer;
}
.new_dag:hover{
	background-color: #58A4D7;
	color: white;
}
.dag_list{
	margin: -5px 0px 0px 0px;
	border-radius : 5px; 
	float : right;
	line-height: 40px;
	width: 150px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: #6ec5ff;
	cursor: pointer;
}
.dag_list:hover{
	color: white;
	border : 1px solid #58A4D7;
	background-color: #58A4D7;
}
.modify-complete{
	position: relative;
	left: 38%;
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #a384ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: a384ff;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
.modify-complete:hover{
	background-color: #6D57AE;
	color: white;
}
.delete-btn{
	position: relative;
	left: 38%;
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: #6ec5ff;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
.delete-btn:hover{
	color: white;
	background-color: #58A4D7;
}
.modify_list-btn{
	position: relative;
	left: 38%;
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: 6ec5ff;
	color: white;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
.modify_list-btn:hover{
		background-color: #58A4D7;
}
.save-btn{
	position: relative;
	left: 54%;
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #a384ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: a384ff;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
.save-btn:hover{
	background-color: #6D57AE;
	color: white;
}
.register_list-btn{
	position: relative;
	left: 54.5%;
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: #6ec5ff;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
.register_list-btn:hover{
	color: white;
	background-color: #58A4D7;
}
.btn_new {
	margin : 0px 0px 3px 0px;
	float: right;
	line-height: 40px;
	width: 133px;
	height: 44px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #6ec5ff;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	
}
.panel-heading-file{
	padding: 15px 0px 0px 15px;
}
.TramFreeBoard-btn {
	margin : 0px 0px 3px 0px;
	float: left;
	line-height: 40px;
	width: 133px;
	height: 42px;
	border: 1px solid #a384ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #a384ff;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}
button.btn_register{
	position : relative;
	bottom : -30%;
	left : 12.5%;
	line-height: 40px;
	width: 133px;
	height: 44px;
	border: 1px solid #a384ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #a384ff;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}
button.btn_list{
	position : relative;
	bottom : -30%;
	left : 12.5%;
	line-height: 40px;
	width: 133px;
	height: 44px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #6ec5ff;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}
button.btn_m{
	margin : 0px 0px 3px 0px;
	line-height: 40px;
	width: 133px;
	height: 44px;
	border: 1px solid #a384ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #a384ff;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}
button.btn_l{
	margin : 0px 0px 3px 0px;
	width: 133px;
	height: 44px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #6ec5ff;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}
button.btn_re{
	margin : 0px 0px 3px 0px;
	line-height: 40px;
	width: 133px;
	height: 44px;
	border: 1px solid #b52f5e;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #b52f5e;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}
.get_btn_modify{
	position : relative;
	left : 62.5%;
	margin : 0px 0px 3px 0px;
	line-height: 40px;
	width: 133px;
	height: 44px;
	border: 1px solid #a384ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #a384ff;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}
.get_btn_list{
	position : relative;
	float : right;
	left : -13%;
	margin : 0px 0px 3px 0px;
	line-height: 40px;
	width: 133px;
	height: 44px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #6ec5ff;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}
.get_new_dag{
	float : right;
	margin : 0px 0px 3px 0px;
	line-height: 40px;
	width: 133px;
	height: 44px;
	border: 1px solid #a384ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #a384ff;
	color: white;
	cursor: pointer;
	border-radius: 4px;	
}
.cartlist-btn1{
	border-radius : 4px;
	left : 40%;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	position: relative;
	width: 216px;
	line-height: 18px;
	border: 2px solid #6ec5ff;
	padding: 22px 0 19px;
	text-align: center;
	color: white;
	background-color: #6ec5ff;
	cursor: pointer;
}
.doPay{
	left : 30%;
	border-radius : 4px;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	position: relative;
	width: 216px;
	line-height: 18px;
	border: 2px solid #a384ff;
	padding: 22px 0 19px;
	text-align: center;
	color: white;
	background-color: #a384ff;
	cursor: pointer;
}
.cancelPay{
	left : 30%;
	border-radius : 4px;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	position: relative;
	width: 216px;
	line-height: 18px;
	border: 2px solid #6ec5ff;
	padding: 22px 0 19px;
	text-align: center;
	color: white;
	background-color: #6ec5ff;
	cursor: pointer;
}
.goList{
	left : 30%;
	border-radius : 4px;
	font-size: 22px;
	display: inline-block;
	position: relative;
	width: 216px;
	line-height: 18px;
	border: 2px solid #a384ff;
	padding: 22px 0 19px;
	text-align: center;
	color: white;
	background-color: #a384ff;
	cursor: pointer;
}
.goMain{
	left : 30%;
	border-radius : 4px;
	font-size: 22px;
	display: inline-block;
	position: relative;
	width: 216px;
	line-height: 18px;
	border: 2px solid #6ec5ff;
	padding: 22px 0 19px;
	text-align: center;
	color: white;
	background-color: #6ec5ff;
	cursor: pointer;
}
.review{
	position: relative;
	padding: 4px 8px;
	border: 1px solid #999;
	color: #333;
	border-radius: 2px;
	box-shadow: 0 -2px 0 rgb(0 0 0 / 10%) inset;
	font-size: 11px;
	background-color: white;
	cursor: pointer;
}