@charset "UTF-8";
a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
.head{
	position: relative;
	top: 35px;
	left: 45px
}
th.title:before{
	content: '';
	height: 7px; 
	border-left: 1px dotted #000; 
	box-sizing: border-box; 
	width: 1px; 
	float: left; 
	margin: 4px 0 0;
}
th.price:before{
	content: '';
	height: 7px; 
	border-left: 1px dotted #000; 
	box-sizing: border-box; 
	width: 1px; 
	float: left; 
	margin: 4px 0 0;
}
th.purchase-count:before{
	content: '';
	height: 7px; 
	border-left: 1px dotted #000; 
	box-sizing: border-box; 
	width: 1px; 
	float: left; 
	margin: 4px 0 0;
}
table{
	width: 100%;
	border-spacing: 0;
	font-size: 17px;
	text-align: center;
}
table th {
	padding: 18px 0;
}
table td {
	color: #666;
}
table th {
	background: #f5f5f5; 
}
th.img{
	width: 300px;
}
th.title{
	width: 400px;
}
th.price{
	width: 200px;
}
th.purchase-count{
	width: 200px;
}
td.img{
	width: 300px;
}
td.title{
	width: 400px;
}
td.price{
	width: 200px;
}
td.purchase-count{
	position: relative;
	left: 25px;
}
td.button{
	width: 25px;
	position: relative;
	top: 2px;
}
.prodTitle{
	height: 80px;
	font-size: 18px;
	font-weight: bold;
}
.removeCart{
	margin: 15px 0px 15px 0px;
}
.navi .home, .navi .step{
	background: none;
	padding: 0;
}
.navi{
	float: right;
	display:inline;
	font-size: 0.8em;
	color: #333;
	margin: 15px 5px 0 0;
	position: relative;
	top : -7px;
}
.navi .main:before {
	display: inline-block; 
	vertical-align: middle; 
	content: '\f015'; 
	font-family: 'Font Awesome 5 Free'; 
	font-weight: bold; 
	color: darkgray; 
	font-size: 0.8em; 
	margin: 0 3px 0 5px;
}
.navi .step:before {
	display: inline-block; 
	vertical-align: middle; 
	content: '\f105'; 
	font-family: 'Font Awesome 5 Free'; 
	font-weight: bold; 
	color: darkgray; 
	font-size: 0.8em; 
	margin: 0 3px 0 5px;
}