@charset "UTF-8";
.board-num{
	position: relative;
	border : none;
	left : 2%;
	top : -26px;
	color: lightgray;	
}
.board-num:focus{
	outline: none;
}
.modify-title{
	height : 100px;
	border-radius : 3px 3px 0px 0px;
	width: 100%;
	border : 1px solid #EEE;
	font-size: 24px;
	padding : 15px 0px 15px 15px;
	font-family: "맑은고딕";
}
.modify-title:focus{
	outline: none;
}
.modify-writer{
	padding : 15px 0px 15px 15px;
	font-family: "맑은고딕";
	font-size: 18px;
	color: black;
	width: 100%;
	border-top:none;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}
.modify-writer:focus{
	outline: none;
}
.fileupload-head{
	border-bottom : 1px solid #EEE;
	border-right : none;
	border-top : none;
	border-left : none;
	font-size: 20px;
	padding : 15px 0px 15px 15px;
	font-family: "맑은고딕";
}
.fileupload{
	border : 1px solid #EEE;
	border-radius : 0px 0px 3px 3px;
}
.fileupload-file{
	margin: 30px 0px 30px 20px;
}




.modify_header{
	text-align: center;
}
.textbox{
	margin: 10px 0 0 0;
	font-size : 15px;
	resize : none;
	width:100%;
	height:300;
	overflow:visible;
	text-overflow:ellipsis;
	padding : 15px 0px 0px 15px;
	font-family: "맑은고딕";
}
textarea.textbox{
	border: 1px solid #eee;
}
textarea.textbox:focus{
	outline:none;
}
.form-control{
	font-size : 15px;
	border-top : none;
	border-right : none;
	border-left : none;
	width: 100%;
}
.form-group{
	border-bottom : 2px solid black;
	font-size : 20px;
	border-right : none;
	border-left : none;
	background-color: #dcdcdc;
}
.modify_body{
	border-radius : 2px;
	border : none;
	width:75%;
	position: relative;
	left: 12%;
}
.fileupload{
	margin : 15px 0px 0px 0px;
}
.button{
	position: relative;
	left: 49.7%
}
