@charset "UTF-8";

.tour_detail_top{
	display: flex;
}

.tour_detail_image{
	padding: 20px; 
	float: left; 
	width: 460px;
	height: 400px;
	background-color: #CDC9C7;
	
}

.tour_detail_info{
	margin-bottom: 20px;
	padding: 20px;
	float:left; 
	border: 1px solid #828282; 
	width: 460px; 
	height: 400px;
}

.tour_content{
	margin-bottom: 20px;
	padding: 20px;
	font-weight: bolder;
	letter-spacing: 1px;
}

.add_but{
	margin-bottom: 20px;
	margin-top: 20px;
	padding-right: 40px;
}

.but_list{
	text-align: center; 
}

.but_list02 {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #f4511e;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.but_list02:hover {
	background-color: #F89685;
}
.but_list02:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}