@charset "UTF-8";
	th{
		width: 150px;
		height: 80px;
		font-size: 18px;
		font-weight: bold;
	}
	td{
		border-collapse: collapse;
	}
	.prodTbl th{
		text-align: center;
		background-color: #f4f4f4;
		font-size: 18px;
		
	}
	.prodTbl td{
		text-align: center;
	}
.img {
	width: 200px;
	text-align: center;
}
.title{
	width: 300px;
	text-align: center;
}
.price{
	width: 200px;
	text-align: center;
}
.purchase-count{
	width: 200px;
	text-align: center;
}
.total{
	width: 200px;
	text-align: center;
}
