@charset "UTF-8";

.tour_detail_top{
	display: flex;
}

.tour_detail_image{
	float:left;
	width: 600px;
	height: 450px;
}


.tour_detail_info{
	float:left;
	padding: 10px 10px 10px 10px;
	width: 500px; 
	height: 330px;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.9);
}

.info1 p{
	margin: 0px 0px 0px 50px;
	font-size: 18px;
	color: rgba(28, 28, 28, 0.5);
}
.info2 p{
	margin: 9px 0px 0px 50px;
	font-size: 35px;
	font-weight: bold;
	color: black;
}
.info3 p{
	margin: 20px 0px 0px 50px;
	font-size: 22px;
	color: #7c7c7c;
}
.info4 p{
	margin: 0px 0px 0px 50px;
	font-size: 18px;
	color: black;
}
.info5 p{
	margin: 30px 0px 30px 50px;
}
.info5 a{
	text-decoration: none;
	font-size: 20px;
	color: black;
}

.btns{
	margin: 0px 0px 0px 50px;
}

.list-btn{
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #6ec5ff;
	color: white;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
.list-btn:hover{
		background-color: #58A4D7;
}
.modify-btn{
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: #6ec5ff;
	cursor: pointer;
}
.modify-btn:hover{
	color : #58A4D7;
	border: 1px solid #58A4D7;
}

.tour_content{
	display: block;
	margin: 50px 0px 50px 0px;
	padding: 20px;
	letter-spacing: 1px;
	word-break: keep-all;
	border-width: 3px 0px 3px 0px;
}

.tour_content p{
	font-weight: bolder;
	text-align: center;
	font-size: 25px;
	
	color: #1A6CE6;
}
.tour_content span{
	white-space: pre-line; 
	font-size: 20px;
	line-height: 200%;
}
.map{
	display: block;
	margin: 0px auto;
	width:400px;
	height:400px;
	float:left;
}
.img2 img{
	display: block;
	margin: 10px;
	float:right;
	width: 320px;
	height: 320px;
}

.img3 img{
	float:left;
	display: block;
	margin: 0px auto;
	width: 700px;
	height: 400px;
}


.map_addr{
	margin-bottom: 20px;
	margin-top: 20px;
	padding-right: 40px;
	font-weight: bold;
	clear:both;
	text-align: left;
	
	color: black;
}


.add_but{
	width: 70px;
	background-color: #a384ff;
	border: none;
	color: #fff;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px;
	cursor: pointer;
	border-radius:10px;
}


.but_list{
	text-align: right; 
}

.but_list02 {
	margin : -5px 10px 0px 0px;
	border-radius : 5px; 
	line-height: 40px;
	width: 150px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #6ec5ff;
	color: white;
	cursor: pointer;
}

.but_list02:hover {
	background-color: #58A4D7;
	color: white;
}
