@charset "UTF-8";


.ac-sub-go-top{
  width: 60px;
  height: 60px;
  bottom:calc(10% - 35px);
  position: fixed;
  right: calc((100% - 1250px)/ 2 - 80px);
  display: inline-block;
  background: white url(/resources/icon/go-top.png) no-repeat 50% 50%; 
  text-indent: -9999px;
  border: none;
  background-size: 100%;
  display: none;
}
.textbox{
	font-size : 15px;
	resize : none;
	width:100%;
	height:300;
	overflow:visible;
	text-overflow:ellipsis;
}
.update-all{
	border: 1px solid black;
	border-radius : 2px;	
	width:75%;
	height: 764.5px;
	position: relative;
	left: 12%;
}
.update-all input {
    width: 575px;
    border: 0;
}
.update-content{
	border-bottom: 1px solid black;
	height: 30px;
}
.update-no{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 89.3px 4.8px 94px;
	position: relative;
	top: 4px;
}
.update-loc{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 81.5px 4.8px 90px;
	position: relative;
	top: 4px;
}
.update-title{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 88px 4.5px 94px;
	position: relative;
	top: 4px;
}
.update-name{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 80px 4.8px 86px;
	position: relative;
	top: 4px;
}
.update-addr{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 71px 4.8px 79px;
	position: relative;
	top: 4px;
}
.update-intro{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 60px 4.8px 74px;
	position: relative;
	top: 4px;
}
.update-lat{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 71px 4.5px 79px;
	position: relative;
	top: 4px;
}
.update-lng{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 71px 4.8px 79px;
	position: relative;
	top: 4px;
}
.update-image{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 60px 4.8px 74px;
	position: relative;
	top: 4px;
}
.update-image2{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 71px 4.8px 79px;
	position: relative;
	top: 4px;
}
.update-image3{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 52px 4.5px 66px;
	position: relative;
	top: 4px;
}
.update-time{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 81.5px 4.8px 90px;
	position: relative;
	top: 4px;
}
.update-homepage{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 81.5px 4.5px 90px;
	position: relative;
	top: 4px;
}
.update-inter{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 90.5px 4.5px 97px;
	position: relative;
	top: 4px;
}


button.save-btn{
	position: relative;
	left: 54%;
	line-height: 40px;
	width: 116px;
	height: 42px;
	border: 1px solid #a384ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: a384ff;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
button.save-btn:hover{
	background-color: #6D57AE;
	color: white;
}
button.list-btn{
	position: relative;
	left: 54.5%;
	line-height: 40px;
	width: 116px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: #6ec5ff;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
button.list-btn:hover{
	color: white;
	background-color: #58A4D7;
}