@charset "UTF-8";
.ac-sub-go-top{
  width: 60px;
  height: 60px;
  bottom:calc(10% - 35px);
  position: fixed;
  right: calc((100% - 1250px)/ 2 - 80px);
  display: inline-block;
  background: white url(/resources/icon/go-top.png) no-repeat 50% 50%; 
  text-indent: -9999px;
  border: none;
  background-size: 100%;
  display: none;
}
.textbox{
	font-size : 15px;
	resize : none;
	width:100%;
	height:300;
	overflow:visible;
	text-overflow:ellipsis;
}
.register-all{
	border: 1px solid black;
	border-radius : 2px;	
	width:75%;
	height: 733.5px;
	position: relative;
	left: 12%;
}
.register-content{
	border-bottom: 1px solid black;
	height: 30px;
}
.register-cate{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 71px 4.8px 71px;
	position: relative;
	top: 4px;
}
.register-title{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 85px 5px 89px;
	position: relative;
	top: 4px;
}
.register-name{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 70px 4.6px 72px;
	position: relative;
	top: 4px;
}
.register-add{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 60px 4.6px 60.5px;
	position: relative;
	top: 4px;
}
.register-img{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 6.7px 55.2px 2px 50px;
	position: relative;
	top: 4px;
}
.register-lat{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 63px 4.8px 58px;
	position: relative;
	top: 4px;
}
.register-lng{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 63px 4.5px 58px;
	position: relative;
	top: 4px;
}
.register-img2{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 6.7px 63px 2px 58px;
	position: relative;
	top: 4px;
}
.register-img3{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 6.7px 44px 2px 45px;
	position: relative;
	top: 4px;
}
.register-time{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 75.8px 4.5px 67px;
	position: relative;
	top: 4px;
}
.register-homepage{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 75.8px 4.8px 67px;
	position: relative;
	top: 4px;
}
.register-inter{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 83.8px 4.5px 75px;
	position: relative;
	top: 4px;
}
.register-locname{
	background-color : #EEE;
	font-weight : bold;
	border-right: 1px solid black;
	padding: 4px 75.8px 4.8px 67px;
	position: relative;
	top: 4px;
}
button.save-btn{
	position: relative;
	left: 54%;
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #a384ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: a384ff;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
button.save-btn:hover{
	background-color: #6D57AE;
	color: white;
}
button.list-btn{
	position: relative;
	left: 54.5%;
	line-height: 40px;
	width: 177px;
	height: 42px;
	border: 1px solid #6ec5ff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: #6ec5ff;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
button.list-btn:hover{
	color: white;
	background-color: #58A4D7;
}
input:focus{
	outline: none;
}
textarea.textbox{
	border-right: none;
	border-left: none;
}
textarea.textbox:focus{
	outline:none;
}