<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jay.mapper.ChatAlarmMapper">
	
	<insert id="insertChatAlarm" parameterType="org.jay.domain.ChatAlarmDTO">
		insert into chatAlarm values(#{userid}, #{chat_alarm}, #{toWho}, #{ranNo})
	</insert>
	
	<select id="selectChatAlarm" parameterType="String" resultType="org.jay.domain.ChatAlarmDTO">
		select * from chatAlarm where towho = #{admin}
	</select>
	
	<delete id="removeAlarm" parameterType="String">
		delete from chatAlarm where userid = #{userid}
	</delete>
	
</mapper>
