<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jay.mapper.PayMapper">

	<insert id="doPay" parameterType="org.jay.domain.BuyListDTO">
		insert into buylist_tbl(bl_idx, userid, pno, amount, recvName, recvPhone, recvAddr, shipRequest)
		values(buylist_seq.nextval, #{userid}, #{pno}, #{amount}, #{recvName}, #{recvPhone}, #{recvAddr}, #{shipRequest})
	</insert>

</mapper>
