<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jay.mapper.ProductMapper">

	<select id="getList" resultType="org.jay.domain.ProductDTO">
		<![CDATA[
			select * from product where pno > 0
		]]>
	</select>
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
	    	<foreach item='type' collection="typeArr">
	    		<trim prefix="OR">
	    			<choose>
	    				<when test="type == 'T'.toString()">
	    					pname like '%' || #{keyword}|| '%'
	    				</when>
	    				<when test="type == 'C'.toString()">
	    					pcontent like '%' || #{keyword}|| '%'
	    				</when>
	    			</choose>
	    		</trim>
	    	</foreach>
	    </trim>	
	</sql>
	
	
	
	
	<select id="getListWithPaging" resultType="org.jay.domain.ProductDTO">
		<![CDATA[
			select 
				pno, catenum, pname, price, pcontent, regdate, image , replycnt , p_Img , PThumbImg
			from 
				(
        		select /*+index_desc(product pk_product) */
            		rownum rn, pno, catenum, pname, price, pcontent, regdate, image , replycnt , p_Img , PThumbImg
        		from 
        			product
        		where
        		]]>
		        
        		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
         			<choose>
            			<when test="catenum == 0">
            				catenum > 0
            			</when>
            			<otherwise>
            				catenum = #{catenum}
            			</otherwise>
            		</choose>
          		</trim>
        		
        		<include refid="criteria"></include>
        		
        		<![CDATA[
        		 rownum <= #{pageNum} * #{amount}
   				)
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	
	<insert id="insert">
		insert into product(pno,catenum,pname,price,pcontent,regdate,image , p_Img, PThumbImg)
		values(seq_product.nextval, #{catenum}, #{pname}, #{price},#{pcontent},#{regdate},#{image} ,#{p_Img}, #{PThumbImg})
	</insert>
	
	<insert id="insertSelectKey">
	
		<selectKey keyProperty="pno" order="BEFORE" resultType="long">
			select seq_product.nextval from dual
		</selectKey>
	
		insert into product(pno,catenum, pname, price, pcontent, image , p_Img , PThumbImg)
		values(#{pno}, #{catenum}, #{pname}, #{price}, #{pcontent}, #{image} , #{p_Img}, #{PThumbImg})
	</insert>
	
	<select id="read" resultType="org.jay.domain.ProductDTO">
		select * from product where pno=#{pno}
	</select>
	
	<delete id="delete">
		delete from product where pno=#{pno}
	</delete>

	<update id="update">
		update product
		set
			catenum=#{catenum},
			pname=#{pname},
			price=#{price},
			pcontent=#{pcontent},
			image=#{image},
			p_Img=#{p_Img},
			PThumbImg=#{PThumbImg}
		where
			pno=#{pno}
	</update>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from product where
		
		
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
     		<choose>
        		<when test="catenum == 0">
        			catenum > 0
        		</when>
        		<otherwise>
        			catenum = #{catenum}
        		</otherwise>
        	</choose>
      	</trim>
		<include refid="criteria"></include>
		
		pno > 0
	</select>
	
	<update id="updateReplyCnt">
		update product
		set
			replycnt = replycnt + #{amount}
		where
			pno=#{pno}
	</update>
	
	<!-- 구매 목록 불러오기 -->
	<select id="buyList" parameterType="org.jay.domain.BuyListDTO" resultType="org.jay.domain.BuyListDTO">
		select * from buyList_tbl where userid = #{userid}
	</select>
	
	
</mapper>
